*.lo
*.o
*.log
*.trs
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libnumatop.la
libtool
ltmain.sh
m4/
mgen
missing
numatop
numatop-*.tar.*
stamp-h1
test-driver
